Bitmap_0 BITMAP "..\\Source\\0.bmp"
Bitmap_2 BITMAP "..\\Source\\2.bmp"
Bitmap_4 BITMAP "..\\Source\\4.bmp"
Bitmap_8 BITMAP "..\\Source\\8.bmp"
Bitmap_16 BITMAP "..\\Source\\16.bmp"
Bitmap_32 BITMAP "..\\Source\\32.bmp"
Bitmap_64 BITMAP "..\\Source\\64.bmp"
Bitmap_128 BITMAP "..\\Source\\128.bmp"
Bitmap_256 BITMAP "..\\Source\\256.bmp"
Bitmap_1024 BITMAP "..\\Source\\1024.bmp"
Bitmap_512 BITMAP "..\\Source\\512.bmp"
Bitmap_2048 BITMAP "..\\Source\\2048.bmp"
